{% extends "App1/padre.html" %}

{%  load static %}

{% block titulo %}

UNIVERSIDAD ARGENTINA

    
{% endblock %}

{% block descripcion %}

{{mensaje}}

<div class="subheading mb-5">
    AV. BELGRANO 1503 · SALTA, ARGENTINA · (387) 585-8468 ·
    <a href="mailto:name@email.com">datos@universidadargentina.edu.ar</a> 
    <br>

    <br>

    <p> La Universidad Argentina es una de las universidades pioneras en carreras a distancia, cuenta con alumnos en mas de 300 sedes del todo el pais y es considerada una de las mas reconocidad en latinoamerica</p>
    <br>
    <p>Esta es la base de datos de carreras, estudiantes y profesores para uso interno del personal de la universidad</p>
</div>

{% endblock %}
