{% extends "App1/padre.html" %}

{%  load static %}

{% block titulo %}

CARRERAS

    
{% endblock %}

{% block descripcion %}

{% for carrera in object_list %}

    <p> Nombre: {{carrera.nombre}}</p>
    <p> Camada: {{carrera.camada}}  </p>

    <button>
    <a href="{% url 'CarrerasEditar' carrera.id %}"> Ver carrera </a>
    </button>

    <button>
    <a href="{% url 'CarrerasEditar' carrera.id %}"> Editar carrera </a>
    </button>

    <button>
    <a href="{% url 'CarrerasEliminar' carrera.id %}"> Eliminar carrera </a>
    </button>

    
{% endfor %}

    <br>
    
    <button>
    <a href="{% url 'CarrerasCrear' %}"> Crear carrera </a>
    
{% endblock %}