{% extends "App1/padre.html" %}

{%  load static %}

{% block titulo %}

PROFESORES

    
{% endblock %}

{% block descripcion %}
{% for profesor in teachers %}

    <p> Nombre: {{profesor.nombre}}</p>
    <p> Carrera: {{profesor.carrera}}</p>

    <button>
    <a href="{% url 'editarProfesores' profesor.nombre %}"> Editar Profesor </a>
    </button>

    <button>
    <a href="{% url 'eliminarProfesores' profesor.nombre %}"> Eliminar Profesor </a>
    </button>

{% endfor %}
    
    
    <br>
    
    <button>
    <a href="{% url 'crearProfesores' %}"> Crear Profesor </a>

{% endblock %}
